{% extends 'admin/user/user.html.twig' %}

{% block title %}Voir un Membre{% endblock %}

{% block titre_section %} Voir le membre # {{ user.id }} {% endblock %}

{% block content %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Centre</th>
                <td>{% if center is not empty %}
                    <a href="{{ path('center_show', {'id': center.id}) }}" class="tlink">
                        {{ center.name }}</a>
                    {% else %}
                    Aucun
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ user.isActive ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Retour à la liste du Staff</a>
    &nbsp;|&nbsp;
    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
