{{ form_start(form) }}
	{{ form_errors(form) }}
	<br>
	<div class="row">
		<div class="col-md-2">
			{{ form_row(form.centerCode) }}
		</div>
		<div class="col-md-7">
			{{ form_row(form.name) }}
		</div>
		<div class="col-md-3">
			<br>
			{{ form_row(form.published) }}
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			{{ form_row(form.email) }}
		</div>
		<div class="col-md-6">
			{{ form_row(form.phone) }}
		</div>
	</div>
	<br>
	{{ form_row(form.address) }}
	<br>
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.zipCode) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.city) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.country) }}
		</div>
	</div>
	<br>
	{{ form_row(form.centerImage) }}
	<br>
	<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
