<div class="row">
	<div class="col-md-3">
		<div class="cader_dashboard bg-c-yellow">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-fort-awesome" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-8 text-right">
                                <span>{{ centersTotal }}</span>
                            </div>
                        </div>
                        <p> Centres Laser en Bourgogne</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cader_dashboard bg-c-pink">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-8 text-right">
                                <span>{{ customersTotal }}</span>
                            </div>
                        </div>
                        <p> Clients actifs</p>
                    </div>
                </div>

    <div class="col-md-3">
        <!-- ****** -->
        <div class="cader_dashboard bg-c-green">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-crosshairs" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ stats.totalGamesPlayed }}</span>
                </div>
            </div>
            <p>Parties disputées</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="cader_dashboard bg-c-lite-green">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-male" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ staffTotal }}</span>
                </div>
            </div>
            <p>Personnes dans le staff</p>
        </div>
    </div>

</div>
<!-- ******* -->
<div class="row">
    <div class="col-md-3">
        <!-- **** -->
        <div class="cader_dashboard bg-c-yellow">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-signal" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span class="font-medium">{{ loyaltyPointsEarnedTotal }}</span>
                </div>
            </div>
            <p>Points de fidélité acquis</p>
        </div>

    </div>

    <div class="col-md-3">
        <!-- Cartes VIP -->
        <div class="cader_dashboard bg-c-pink">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-address-card" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ loyaltyCardsTotal }}</span>
                </div>
            </div>
            <p>Cartes VIP</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="cader_dashboard bg-c-green">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-male" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ stats.attendance }}</span>
                </div>
            </div>
            <p>de fréquentation</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="cader_dashboard bg-c-lite-green">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ stats.salesRevenue }}</span>
                </div>
            </div>
            <p>de CA, 6 derniers mois</p>
        </div>
    </div>

</div>
<!-- ******* -->
<div class="row">

    <div class="col-md-3">
        <!-- ******* -->
    </div>

    <div class="col-md-3">
        <div class="cader_dashboard bg-c-pink">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ stats.satisfaction }}</span>
                </div>
            </div>
            <p> de clients satisfaits</p>
        </div>
    </div>

    <div class="col-md-3">
        <!-- Facebook Likes -->
        <div class="cader_dashboard bg-c-green">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 text-right">
                    <span>{{ stats.likes }}</span>
                </div>
            </div>
            <p>Likes</p>
        </div>
    </div>


    <div class="col-md-3">
        <!-- ******* -->
    </div>

</div>
<!-- ******* -->
   